<mat-sidenav-container>
    <mat-sidenav [opened]="openSidenav" role="navigation">
        <app-sidenav-list [navState]="openSidenav" (closeSidenav)="toggleSideNav($event)"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content> <!-- represents the  main content-->
        <app-header [navState]="openSidenav" (sidenavToggle)="toggleSideNav($event)"></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>